<h2>Users</h2>

Who are you?

<%= form_for @user, url:({action: "signed_in"}) do |f| %>
  <%= f.collection_select(:id, User.all, :id, :name, prompt: "Select your name: ") %>
  <%= f.submit %>
<% end %>

<br>
Not listed?
<br>
<%= link_to "Add a User", new_user_path, method: :get %>
