// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Righteous'
}

.image-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin: 0;
}

.hero-image {
  width: 100%;
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  position: relative;
  z-index: -1;
  margin: -100px 0 0 0;
}

.page-title-box {
  position: absolute;
  top: 50px;
  left: 0;
  text-align: center;
  width: 100%;
}

.logout {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 100%;
}

.logout-link {
  color:white;
  text-decoration: none;
  text-align: right;
}

.page-header {
  font-size: 120px;
  color: #FFFFFF;
}

.button-title-box {
  position: absolute;
  top: 320px;
  left: 0;
  text-align: center;
  width: 100%;
}

.add-song-button {
  color: #FFFFFF;
  font-size: 30px;
  border: 2px white solid;
  border-radius: 15px;
  text-decoration: none;
  padding: 5px 20px 5px 20px;
}

#hi-name {
  color: white;
  font-size: 25px;
  position: absolute;
  text-align: center;
  top: 280px;
  left:44%;
}

.song-list {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: black;
  border-width: 0px 2px 2px 2px;
}

.song-item {

}

td {
  height: 40px;
}

#song-name {
  width: 50%;
}

#song-name-title {

}

#song-votes {
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
}

#song-artist {
  width: 30%;
  padding-right: 10px;
  text-align: center;
}

.song-user {
  width: 20%;
  text-align: right;
}

#delete-button {
  width: 10%;
  color:black;
  text-align: right;
  border: 1px black solid;
}
